.texpadtmp
.gitignore~
trained_compare/
logs_compare/
.vscode/
MANIFEST
logs/
cache*/
cache/
trained/
*.egg-info/
dist/
saved_models/
.ipynb_checkpoints/
playground/*.txt
build/
.DS_store
__pycache__/

docs/_build/
docs/_static/
docs/_templates
